# Hopital Patients Claims 
## Landing to Raw

####  Run this cell to set up and start your interactive session.

In [1]:
%idle_timeout 10
%glue_version 5.0
%worker_type G.1X
%number_of_workers 2

import sys
from awsglue.transforms import *
from awsglue.utils import getResolvedOptions
from pyspark.context import SparkContext
from awsglue.context import GlueContext
from awsglue.job import Job
from pyspark.sql.functions import * 
from pyspark.sql.types import * 
from awsglue import DynamicFrame
import json 
from datetime import date
import boto3
from botocore.exceptions import ClientError
  
sc = SparkContext.getOrCreate()
glueContext = GlueContext(sc)
spark = glueContext.spark_session
job = Job(glueContext)

UsageError: Line magic function `%idle_timeout` not found.

In [1]:
import sys
from awsglue.transforms import *
from awsglue.utils import getResolvedOptions
from pyspark.context import SparkContext
from awsglue.context import GlueContext
from awsglue.job import Job
from pyspark.sql.functions import * 
from pyspark.sql.types import * 
from awsglue import DynamicFrame
import json 
from datetime import datetime
import boto3
from botocore.exceptions import ClientError
  
sc = SparkContext.getOrCreate()
glueContext = GlueContext(sc)
spark = glueContext.spark_session
job = Job(glueContext)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [2]:
todays_date = datetime.today().strftime('%Y-%m-%d')
base_landing_path = 's3://hospital-patients-claims-bucket/'
files_location = base_landing_path+f"landing_zone/load_date={todays_date}"

In [3]:
df = glueContext.create_data_frame.from_options(connection_type='s3', connection_options={"paths": [files_location]}, format='json')

SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.
/usr/local/lib/python3.11/site-packages/pyspark/sql/dataframe.py:147: UserWarning: DataFrame constructor is internal. Do not directly use it.
  warnings.warn("DataFrame constructor is internal. Do not directly use it.")

In [5]:
df.toPandas()

,partition_key,patient_id,name_prefix,first_name,last_name,date_of_birth,phone_number,email_id,policy_id,policy_start_date,...,addres_id,addressline,city,state,borough,claim_id,claim_initialized_date,claim_request_amount,claim_status,claim_rejected_reason
0,002dbf31-ef03-4100-9216-576ee1290cc1,9546,Mr.,Tanya,Perry,08-06-1973,5974064144484,joyce68@example.net,8155,04/06/2028,...,9177,2710 Cox Cliffs,London,England,[Kingston upon Thames],6603,10/03/2007,$10944,[Under Process],[]
1,002e6e43-f8fb-4713-9ac2-c3e5e39f99d5,1512,Mrs.,Leon,Sullivan,26-08-2005,6213726140467,ksullivan@example.net,7482,27/06/2018,...,5612,059 Gregory Crest,London,England,[Barnet],2724,02/09/2030,$24046,[Received],[]
2,039d54e0-669d-424d-a45b-e72787c7a587,2300,Mrs.,Jose,Fox,23-01-2006,9359277294185,grusso@example.com,3753,23/03/2016,...,7362,0881 Hammond Walk,London,England,[Camden],3662,19/12/2030,$32957,[Rejected],[Policy Not Created]
3,03e2a518-82b8-45d1-829a-19bfd39958d1,7217,Mrs.,Sheena,Diaz,28-04-1977,5526036982205,hebertbrian@example.org,5680,15/10/2029,...,1087,539 Kelsey Key,London,England,[Richmond upon Thames],3269,13/05/2009,$70315,[Received],[]
4,073b1edd-76df-4143-b9a9-2ceedacc3834,1520,Mr.,Joel,Miller,15-08-1979,2968824619435,stonecrystal@example.net,3616,07/04/2020,...,4007,9142 Dorothy Throughway,London,England,[Bexley],2017,22/03/2016,$23197,[Accepted],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,eecc6174-1f0f-40f8-b598-4aa1bbc8f70e,6154,Mr.,Lauren,Owens,21-06-1967,0796806210540,brandi31@example.net,8330,18/02/2030,...,1593,21063 Crawford Common,London,England,[Barking and Dagenham],2171,09/11/2006,$93291,[Under Process],[]
96,f346f0d7-529b-4197-95b7-7014fc37c393,9112,Mr.,Taylor,Rogers,26-03-1984,7215128746731,thomas07@example.net,7854,11/07/2026,...,9514,237 Pacheco Circles,London,England,[Southwark],7765,08/06/2020,$69294,[Initalized],[]
97,fcab3fc8-66a4-4df3-ba33-02274b494e61,6065,Mr.,Joanna,Figueroa,20-01-1979,0596746156110,rbell@example.com,1767,01/04/2029,...,8850,91429 Nancy Ferry,London,England,[Havering],6656,30/04/2008,$38899,[Rejected],[]
98,fd16588e-3d64-46d3-9abe-728989794992,5059,Mr.,Dawn,Conrad,13-02-1967,8411251735363,thomas97@example.com,6944,20/07/2019,...,3397,378 Mendoza Fall,London,England,[Camden],1764,26/07/2012,$79644,[Under Process],[]
99,fe5dca4d-4b05-47d2-9d93-63aa20bcad23,2684,Mr.,Lauren,Cameron,14-12-1987,3022534197380,kylebooth@example.net,7523,11/02/2026,...,1742,939 Robin Forks,London,England,[Enfield],6664,04/06/2010,$53103,[Accepted],[]

In [6]:
df = df.withColumn('source_file_path',input_file_name())
df = df.withColumn('source_load_path',lit(files_location))
df = df.withColumn('load_timestamp',lit(current_date()))
df = df.withColumn('load_timestamp',lit(current_timestamp()))

In [25]:
df = df.withColumn('load_date',lit(current_date()))

In [18]:
df_p = df.limit(40).toPandas()

In [21]:
files_location

's3://hospital-patients-claims-bucket/landing_zone/load_date=2026-01-28'

In [24]:
files_location

's3://hospital-patients-claims-bucket/landing_zone/load_date=2026-01-28'

In [29]:
s3output = glueContext.getSink(
    path='s3://hospital-patients-claims-bucket/raw_zone/raw_hospital_patients_claims',
    connection_type="s3",
    updateBehavior="UPDATE_IN_DATABASE",
    partitionKeys=['load_date'],
    enableUpdateCatalog=True
)
s3output.setCatalogInfo(
    catalogDatabase="hospital_patients_claims", catalogTableName="raw_hospital_patients_claims"
)
s3output.setFormat("glueparquet")
s3output.writeFrame(DynamicFrame.fromDF(df, glueContext))

26/01/28 08:25:42 WARN Job$: Job run ID 18340f19-2537-4abf-9d1b-6c6a1ce69987 is either null or empty or its same as Job name.